    :root {
        --dark: rgb(11, 126, 126);
        --light: rgb(92, 153, 157);
        --clear: #d8a47f;
        --shadow: #633413;
        --borderradius: 50px 50px 50px 50px;
    }

    body {

        background-color: #d8f0f3;
        font-family: Tahoma, Geneva, Verdana, sans-serif;
    
    }

    #container1 {
        background-color: var(--light);
        width: 100% var(--borderradius);
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: var(--borderradius);

    }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 20%;
    }

    #container2 {
        display: flex;
        background-color: var(--dark);
        width: 70%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: var(--borderradius);
    }

    #container2-1 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    #container3 {
        display: flex;
        flex-direction: column;
        justify-content: space space-around;
        align-items: center;
        width: 20%;
        background-color: var(--dark);
        border-radius: var(--borderradius);


    }

    #container4 {
        background-color: var(--dark);
        width: 100%;
        border-radius: var(--borderradius);
    }

    #bigcontainer {
        border-radius: var(--borderradius);
        flex-direction: row-reverse;
        display: flex;
        width: 100%;
    }

    @media (max-width:620px) {
        body{
        display: flex;
            flex-direction:column;

        }
    }    
    @media only screen and(min width:665px)and (max-width:793px) {
        body{
        display: flex;
            flex-direction:column;

        }
    }    
    @media only screen and(min width:375px)and (max-width:667px) {
        body{
        display: flex;
            flex-direction:column;

        }
    }    
        
        #container4 {
            border-radius: var(--borderradius);
            display: flex;
            flex-direction: row-reverse;
            justify-content: space space-around;
            align-items: center;
        }


            
        